.tablink_tache {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink_tache:hover {
 background-color:gray;}
 

/* Set default styles for tab content */
.tabcontent_tache {
    color: white;
    display: none;
    padding: 50px;
	text-align:center;
}

label {
	font-size:1.2em;
    
	}

h2{
	color:black;
	text-align:center;
}

input,select {
	text-align-last:center;
	text-align:center;
	width : 200px;
	height:25px;
}

input.btn_ajout{
		   display:inline-block;  left:450px; width:200px; color:white; background:#555; padding: 5px 10px;
  border-radius: 5px; height:auto;
		   }

 
.btn_ok{
	       color:white; background:#555; width:10%; padding: 5px 10px;
  border-radius: 5px; height:auto
}

#target_select_lot{width:auto; margin-left : 1%;}

#btn_photo_sous_detail{
	 background-color: #555;
  color:white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  height: auto;
  cursor:pointer;
  margin-left:10px;
}
